@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #49536D;
    --text-color: #fff;
    --main-color: #0E8630;
}

body {
    padding: 9% 15%;
    height: 100vh;
}

.main {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 5%;
    border-radius: 5px;
}

#add-task {
    display: flex;
    justify-content: center;
}

#add-task input.title {
    font-size: 1.2rem;
    margin-right: 5px;
    border-radius: 3px;
    padding: 10px;
    width: 50%;
}

#add-task button {
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    color: var(--text-color);
    background: #162558;
    cursor: pointer;
    font-weight: bold;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.filter button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
}

.filter button.active {
    background: var(--main-color);
    color: var(--text-color);
    transition: .5s ease;
}

.filter button.all {
    border-radius: 3px 0 0 3px;
}

.filter button.completed {
    border-left: 1px   solid #626262;
}

.filter button.todo {
    border-left: 1px   solid #626262;
    border-radius: 0 3px 3px 0;
}

.task-list {
    padding: 25px;
    border: 1px solid rgba(34, 38, 80, .5);
    border-radius: 3px;
    font-size: 1.3rem;
    margin-top: 15px;
}

.task-list .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3E4760;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-list .task .first{
    display: flex;
    align-items: center;
}

.task-list .task .actions {
    display: flex;
    align-items: center;
}

.task-list .task .actions button {
    margin: 5px;
    padding: 5px;
    background: transparent;
    cursor: pointer;
}

.task-list .task .actions button i {
    font-size: 2rem;
}

.task .first label {
    margin: 0 5px 0 10px;
}

.task .first input#do {
    width: 20px;
    height: 20px;
}

.task-list .is_completed {
    background: var(--main-color);
    transition: .5s ease;
}

.task-list .is_completed label {
    text-decoration: line-through;
}

.task-list .is_completed button.edit {
    display: none;
    transition: .5s ease-out;
}

.actions button.edit {
    color: rgb(221, 130, 11);
}

.actions button.delete {
    color: #EC2222;
}

.hide-completed .is_completed, 
.hide-todo .todo {
    display: none;
}
